.creator-stamp-inline {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.creator-stamp-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  display: block;
  animation: stampAppear 0.6s ease-out;
  overflow: hidden;
}

@keyframes stampAppear {
  0% {
    transform: scale(0) rotate(-180deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(-2deg);
    opacity: 1;
  }
}
